
  #container {
    margin-left:20%;
    margin-right:20%;
    height:500px;
    font-family:"Times New Roman", "Verdana", serif;
    background-color:#dad9cf;
    text-align: center;
  }

  a{
    text-decoration:none;
    color:#ffffff;
  }
  li:hover{
    background-color: #ff00ff;
    color: #ffffff;

  }
  #retorno{
    float:right;
    font-size: 30px;
    color: #000000;
    margin-right: 30px;
  }

  #menu{
    font-family:cursive;
    background-color:#000000;
      color:#ffffff;
    font-weight:bold;
    font-size:2em;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  li{
    float: right;
    border-style: solid;
    border-color: #ffffff;
    text-align:center;
    border-radius: 50px;
    background-color:#0000008f;
    list-style-type:none;
    margin-bottom: 10px;
    margin-right: 120px;
    width: 200px;

  }

  #imgcsharp{
    height: 150px;
    float:left;

  }
  #histcsharp{
  font-size: 20px;
  color: #000000;
  font-family:"Times New Roman";
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 125px;
  }
  #imgruby{
    height: 200px;
    float:left;

  }
  #histruby{
    font-size: 20px;
    color:#000000;
    font-family:"Times New Roman";
    margin-left: 50px;
    margin-right: 50px;
  }

  #histjava{
    font-size: 20px;
    color: #000000;
    font-family: "Times New Roman";
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 125px;
  }

  #imgjava{
    height: 200px;
  }
  #histpython{
    font-size: 20px;
    color: #000000;
    font-family: "Times New Roman";
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 125px;
  }
  #imgpython{
    height: 200px;
  }
