#container {
  margin-left:20%;
  margin-right:20%;
  height:auto;
  font-family:"Times New Roman","Verdana",serif;
  background-color:#a78564;
}

a{
  text-decoration:none;
  color: #3EA53C;
}

#menu{
  font-family:"Calibri",sans-serif;
  background-color:#A73838;
  color:#3EA53C;
  font-weight:bold;
  font-size:2em;
  height: 350px;
}

#menu h2{
  text-align: center;
}

#cursos{
  list-style-type: none;
}

li{
  text-align:left;
  background-color: #FF0000;
  margin-left: 30px;
  margin-right: 70px;
  margin-top: 20px;

}

#imgCSharp{
  float: left;
  width: 20%;
  height: 20%;
}

#histCSharp{
  font-size: 1em;
}
#retorno{
  clear: both;
}
#home{
  width: 10%;
  height: 10%;
}
