#container {
  margin-left:20%;
  margin-right:20%;
  height: auto;
  background-color:#465775;
}

#container h1{
  font-family:"Times New Roman","Verdana",serif;
  font-size: 3em;
  color: #FFFFFF;
}

a{
  text-decoration:none;
}

#menu{
  font-family:"Comic sans Ms",sans-serif;
  background-color:#59C9A5;
  color:#465775;
  font-weight:bold;
  font-size:2em;
  height: 350px;
}

#menu h2{
  text-align: center;
}

#cursos{
  list-style-type: none;

}

li{
  text-align:center;
  background-color: #EF6F6C;
  margin-left: 200px;
  margin-right: 240px;
  margin-top: 20px;

}

li a{
  color:#465775;
}

#imgCSharp{
  float: left;
  width: 18%;
  height: 18%;
}

#histCSharp{
  font-size: 25px;
  font-family:"Comic sans Ms",sans-serif;
  color: #FFFFFF;

}

#imgJava{
  float: left;
  width: 20%;
  height: 20%;
  margin: 5px;
}

#histJava{
  font-size: 25px;
  font-family:"Comic sans Ms",sans-serif;
  color: #FFFFFF;

}

#imgPython{
  float: left;
  width: 18%;
  height: 18%;
}

#histPython{
  font-size: 25px;
  font-family:"Comic sans Ms",sans-serif;
  color: #FFFFFF;
}

#imgRuby{
  float: left;
  width: 15%;
  height: 15%;
  margin: 5px;
}

#histRuby{
  font-size: 25px;
  font-family:"Comic sans Ms",sans-serif;
  color: #FFFFFF;
}

#retorno{
  clear: both;
  margin-left:20%;
  margin-right:20%;
}
#home{
  width: 5%;
  height: 5%;
}
