#container{
  margin-left: 20%;
  margin-right: 20%;
  height : 600px;
  font-family: "Times New Roman","Verdana", serif;
  background-color: #b7c5c1;
}

a{
  text-decoration:none;
}

.menu{
  font-family:"Calibri",sans-serif;
  background-color: #8962bf;
  color: #00ff00;
  Font-weight: bold;
  Font-size:1cm;
}
