#container {
  margin-left:20%;
  margin-right:20%;
  height:600px;
  font-family:"Times New Roman","Verdana",serif;
  background-color:#FFF000;
}

a{
  text-decoration:none;
}

#menu{
  font-family:"Calibri",sans-serif;
  background-color:#FF0000;
  color:#00FF00;
  font-weight:bold;
  font-size:2em;
}
