
#container{
  margin-left:20%;
  margin-right:20%;
  height:600px;
  font-family:"Time New Roman", "Verdana", serif;
  background-color:#4500ff;
}
#menu{
  font-family:"Arial",sans-serif;
  background-color:#ff0000;
  color:#00ff00;
  font-weight:bold;
  font-size:2em;

}
